{% extends "/base.html.twig" %}

{% block body %}

	<article class="row" style="background-color:pink;">
		<h1 class="text-center mb-5">Nouveau Bubble User!</h1>
		<form action="create" method="post" class="d-flex flex-column p-4 mx-1 mx-md-4 " style="background-color:grey;">
		{# <div class="col-lg-4 col-xl-4 col-xxl-4"></div> #}
			<section class="col-lg-6 col-xl-6 col-xxl-6 col-xs-12 col-sm-12">
				<div class="d-flex flex-column mb-4">
					<select class="form-select" name="role" id="Role">
						<option>----- Obligatoire -----</option>
						{% for role in roles %}
							<option value="{{ role.id }}">{{ role.name }}</option>
						{% endfor %}
					</select>
					<label class="form-label" for="Role">Choisir un rôle</label>
				</div>
			</section>

			<section class="col-lg-6 col-xl-6 col-xxl-6 col-xs-12 col-sm-12 d-flex flex-wrap justify-content-between">
				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="text" name="pseudo" id="Pseudo" class="form-control" value="{{ user.pseudo }}"/>
						<label class="form-label" for="Pseudo">Prénom/Pseudo</label>
					</div>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="email" name="email" id="form3Example3c" class="form-control" value="{{ user.email }}"/>
						<label class="form-label" for="form3Example3c">Email</label>
					</div>
				</div>
			</section>

			<section class="col-lg-6 col-xl-6 col-xxl-6 col-xs-12 col-sm-12 d-flex flex-wrap justify-content-between">
				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="password" name="password_1" id="password_1" class="form-control"/>
						<label class="form-label" for="form3Example4c">Mot de passe</label>
					</div>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="password" name="password_2" id="password_2" class="form-control"/>
						<label class="form-label" for="">Confirmez mot de passe</label>
					</div>
				</div>
			</section>

			<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
				<button type="submit" class="btn">Enregistrer</button>
			</div>
		</form>
	</article>
{% endblock %}
