{% extends "/base.html.twig" %}
{% block body %}
<article class="d-flex flex-wrap justify-content-center">
		<div class="col-lg-6 text-start">
			<img src="/image/login.png" alt="image-login">
		</div>
		<section class="col-lg-6 p-4">
			<form action="/security/login" method="post" class="mt-lg-5 p-lg-4">
				<input type="email" name="email" id="email" class="form-control">
				<label for="" class="form-label h6 mb-3">Email</label>
				<input type="password" name="password" id="password" class="form-control">
				<label for="" class="form-label h6 mb-3">Mot de passe</label>
				<div class="my-4">
					<a href="/security/forgetPassword" class="text-body">Mot de passe oublié ?</a>
				</div>
				<div class="my-4">
					<button type="submit" class="bluegrey mb-4">Connexion</button>
					<p class="small h5">Tu n'as pas encore de compte?
						<a class="link-danger" href="/security/register">Inscris toi!</a>
					</p>
				</div>

			</form>
		</section>
	</article>
{% endblock %}
