{% extends "/base.html.twig" %}
{% block body %}
	{% set user = user() %}
	<article class="d-flex flex-wrap justify-content-center">
		<h1 class="col-lg-6 mt-lg-4">
			<img src="/image/login.png" alt="image-login" class="mw-100">
		</h1>
		<section class="col-lg-6 p-lg-5">
			<form action="/security/login" method="post" class="d-flex flex-column mt-lg-5 p-lg-4">
				<div>
					<input type="email" name="email" id="email" class="form-control border-2" value="{{ user.email }}">
					<label for="" class="form-label h6 mb-3">Email</label>
				</div>
				<div>
					<input type="password" name="password" id="password" class="form-control border-2" value="{{ user.password }}">
					<label for="" class="form-label h6 mb-3">Mot de passe</label>
				</div>
				<button type="submit" class="bluegrey my-3">Connexion</button>
				<div class="my-2">
					<a href="/security/forgetPassword" class="text-body">Mot de passe oublié ?</a>
				</div>

				<div class="my-2">
					<p class="small h5">Tu n'as pas encore de compte?
						<a class="link-danger" href="/security/register">Inscris toi!</a>
					</p>
				</div>
			</form>
		</section>
	</article>
{% endblock %}
