{% extends "/base.html.twig" %}
{% block menu_contact %}
	active
{% endblock %}

{% block body %}
	{% set user = user() %}
	<article class="d-flex flex-wrap justify-content-center">
		<div class="col-lg-6 my-4">
			<img src="/image/contact.png" alt="image-contact" class="mw-100">
		</div>
		<section class="col-lg-6 p-lg-5">
			<h1>Formulaire de contact</h1>
			<h6 class="fs-5">
				Un bug, une question, une suggestion... Nous sommes à ton écoute.
			</h6>
			<form action="/contact/mailSend" method="post" class="d-flex flex-column rounded p-3">
				<p class="text-danger">Les champs marqués d'un * sont obligatoires.</p>
				<div class="d-flex flex-wrap justify-content-center my-4">
					<div class="form-check">
						<label class="form-check-label me-3" for="Subject">
							<i class="fas fa-solid fa-bug fa-lg" style="color: #3498db;"></i>
							Bug*
						</label>
						<input class="form-check-input border-2" type="checkbox" name="subject" id="Subject" value="bug">
					</div>
					<div class="form-check">
						<label class="form-check-label me-3" for="Subject">
							<i class="fa-solid fa-question" style="color: #3498db;"></i>
							Question*
						</label>
						<input class="form-check-input border-2" type="checkbox" name="subject" id="Subject" value="question">
					</div>
					<div class="form-check">
						<label class="form-check-label me-3" for="Subject">
							<i class="fa-regular fa-lightbulb fa-lg" style="color: #3498db;"></i>
							Suggestion*
						</label>
						<input class="form-check-input border-2" type="checkbox" name="subject" id="Subject" value="suggesion">
					</div>

				</div>
				<div class="mb-2">
					<input type="text" name="pseudo" id="Pseudo" value="{{ user.pseudo }}" class="form-control border border-2">
					<label for="Pseudo" class="form-label h6">Prénom/Pseudo*</label>
				</div>
				<div class="mb-2">
					<input type="email" name="email" id="Email" value="{{ user.email }}" class="form-control border border-2">
					<label for="Email" class="form-label h6">Email*</label>
				</div>
				<div class="mb-2">
					<textarea class="form-control border border-2" name="message" id="Message" rows="8">{{ 'Ton Bubbles message' }}</textarea>
					<label for="Message" class="form-label h6">Message*</label>
				</div>

				<button class="bluegrey my-4" type="submit">Envoyer</button>
			</form>
		</section>
	</article>
{% endblock %}
