<form method="post" action="/comment/delete/{{ comment.id }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="delete">
    <button class="btn-grey">Supprimer</button>
</form>