{% extends "/base.html.twig" %}

{% block body %}
    <h1>Liste des Commentaires</h1>
	<div class="d-flex justify-content-around my-3">
		<a class="btn" href="/main/home">Retour</a>
		<p>{{comment.content}} </p>
	</div>
{% endblock %}