{% extends "/base.html.twig" %}

{% block body %}
	<article class="d-flex flex-column justify-content-center">
		<div class="text-center mb-4">
			<h1>Modifier le commentaire
			</h1>
			<h6>Merci de vérifier les informations du formulaire d'édition</h6>
		</div>

		<section>
			<form action="/comment/update/{{ comment.slug }}" method="post">
				<div class="col-md-6">
					<textarea class="form-control" name="content" id="Content" rows="8" value="{{ comment.content }}"></textarea>
					<label for="Contenu" class="form-label">Contenu</label>
				</div>
				<div class="col-12">
					<button class="btn" type="submit">Modifier votre commentaire</button>
				</div>
			</form>
		</section>
	</article>
{% endblock %}
