{% extends "/base.html.twig" %}

{% block body %}
	{% set user = user() %}
	<article class="d-flex flex-column justify-content-center">
		<section class="text-center mb-4">
			<h1>Modifies ton Bubble Comment</h1>
			<h6>Tu veux revoir ta copie ? C'est ici que ça se passe! 😉</h6>
		</section>
		<a class="btn" href="/comment/comment_user/{{ user.slug }}">Retour</a>
		{# TODO: Mettre la div border #}
		<form action="/comment/update/{{ comment.id }}" method="post" class="d-flex flex-column p-4 mx-1 mx-md-4">
			<div class="col-md-6">
				<textarea class="form-control" name="content" id="Content" rows="8" value="{{ comment.content }}">{{ comment.content }}</textarea>
				<label for="Contenu" class="form-label h6">Contenu</label>
			</div>

			<div class="col-12">
				<button class="btn" type="submit">Modifier</button>
			</div>
		</form>

	</article>
{% endblock %}
