
/*------ BODY ------*/

.btn,
.btn-delete {
    color: #fff;
    border: 0 !important; 
    cursor: pointer !important;
    padding: 5px 15px !important;
    border-radius: 3px;
}

.btn {
    background-color: #FFC312 !important;
}

.btn-delete {
    background-color: #B33771;
}

/*------ NAVBAR FOOTER ------*/
.nav-principal {
    background-color: #0000 !important;
}
