
/*------ BODY ------*/
#wrapper {
    background-color: #ffffff !important;
    font-family: 'Instrument' sans-serif !important;
}

.green {
    color: #ffffff !important;
    text-align: center !important;
    border: 0 !important; 
    cursor: pointer !important;
    padding: 5px 15px !important;
    border-radius: 3px !important;
}

.btn {
    color: #ffffff !important;
    text-align: center !important;
    border: 0 !important; 
    cursor: pointer !important;
    padding: 5px 15px !important;
    border-radius: 3px !important;
}

.btn {
    background-color: #38ada9 !important;
}

.green {
    background-color: #78e08f !important;
}

.marker {
    color: #38ada9 
}

.card-link {
    text-decoration: none !important;
    color: #000000 !important;
    /* margin-top: 15px; */
    padding: 5px 15px !important;
}
 .card-link :hover {
    color: #4b6584 !important;
}


/*------ NAVBAR FOOTER ------*/

.navbar-toggler,
.navbar-toggler-icon {
    color: #38ada9 !important;
    border: none !important;
}

.navbar-nav {
    text-align: center !important;
}

.nav-link {
    color: #ffffff !important;
    text-align: center !important;
    padding: 5px 25px !important;
}

.active {
    transition: .3s;
    background: #38ada9 !important;
}

