<form method="post" action="/comment/delete/{{ comment.id }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ton Bubbles Comment?');">
    <button class="bluegrey">Supprimer</button>
</form>