{% block body %}
	<article class="d-flex flex-column border-end mt-5 px-4">
		<div class="col-lg-5 align-self-center rounded mb-4 mw-100">
			<img src="/image/comment.png" alt="image-comment" class="w-100">
		</div>
		<div class="d-flex flex-column justify-content-between">
			<h2 class="my-3 mb-3">Laisses ton Bubbles Comment</h2>
			<p class="text-danger">Les champs marqués d'un * sont obligatoires.</p>
		</div>

		<form action="/comment/create/{{ post.slug }}" method="post" class="row g-3">
			<div class="mb-2">
				<textarea class="form-control border border-2" name="content" id="Content" rows="8" value="{{ post.content }}"></textarea>
				<label for="Contenu" class="form-label h6">Contenu*</label>
			</div>
			<button class="bluegrey my-4" type="submit">Publier</button>
		</form>

	</article>
{% endblock %}
