{% extends "base-admin.html.twig" %}
{% block menu_admin %} active {% endblock %}

{% block body %}
    <article class="col">
        <h1>Administration 2dbubbles</h1>
        <section class="row">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p>Quam architecto ad porro assumenda et quas, libero aut. Laboriosam maiores laborum illo esse. Assumenda, tempora atque illum eum eligendi dignissimos labore!</p>
        </section>
    </article>
{% endblock %}