{% extends "/base.html.twig" %}
{% block menu_role %}
	active
{% endblock %}
{% block body %}
	<h1>Liste des rôles</h1>
        <div class="d-flex justify-content-around my-3">
            <a class="btn" href="/main/home">Retour</a>
        </div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			{% for role in roles %}
				<tr>
					<td>{{ role.id }}</td>
					<td>{{ role.name }}</td>
					<td>
						<a href="/role/edit/{{role.id}}">edit</a>
                        {{ include('role/_delete.html.twig')}}
						</td>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="/role/add">Ajouter</a>


{% endblock %}
