{% extends "/base.html.twig" %}
{% block menu_role %}
	active
{% endblock %}
{% block body %}
	<h1>Rôles</h1>
	<div class="d-flex justify-content-around my-3">
		<a class="btn" href="/main/home">Retour</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for role in roles %}
				<tr>
					<td>{{ role.id }}</td>
					<td>{{ role.name }}</td>
					<td class="d-flex">
							<a class="btn" href="/role/update/{{ role.id }}">éditer</a>
							{{ include('role/_delete.html.twig') }}
	
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">no records found</td>
	</tr>
{% endfor %}
</tbody>
</table>
<a class="btn mb-5" href="/role/create">Ajouter</a>
{% endblock %}
