
{% include "/_partial/_head.html.twig" %}
{% include "/_partial/_nav.html.twig" %}
	<main class="container"> 
        {% for flash in display_flashes() %}
            <div class="alert alert-{{ flash.alert }}">
                {{ flash.message }}
            </div>
        {% endfor %}
        {% block body %} {% endblock %}
    </main>
{% include "/_partial/_footer.html.twig" %}	
