<form method="post" action="delete/{{ post.id }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="delete">
    <button class="btn-delete ms-4">Supprimer</button>
</form>