{% extends "/base.html.twig" %}
{% block menu_contact %}
	active
{% endblock %}

{% block body %}
	<article class="d-flex flex-column justify-content-center">
		<div class="text-center mb-4">
			<h1>Contact-nous</h1>
			<h5>Un problème, une question ? une suggestion...
				<span class="marker">On est à ton écoute</span>.</h5>
		</div>
		<section class="d-flex flex-column border rounded p-3">
			<section class="d-flex flex-column justify-content-center border border-dark-subtle border-2 rounded p-3">
				<form action="contact/send" method="post">
					<input type="text" name="pseudo" id="Pseudo" class="form-control border border-2">
					<label for="Pseudo" class="form-label h6">Prénom/Pseudo</label>

					<input type="email" name="email" id="Email" class="form-control border border-2">
					<label for="Email" class="form-label h6">Email</label>

					<textarea class="form-control border border-2" name="message" id="Message" rows="8"></textarea>
					<label for="Message" class="form-label h6">Message</label>

					<button class="btn my-4" type="submit">Envoyer</button>
				</form>
			</section>
		</section>
	</article>
{% endblock %}
