{% extends "/base.html.twig" %}

{% block menu_home %}
	active
{% endblock %}
{% block body %}
	<article class="d-flex justify-content-center w-50">
		<aside>
         Mettre une image
        </aside>
		<section class="text-start">
			<h2>
				<span class="orange">La petite présentation…</span>
			</h2>
			<p>Bienvenue sur mon blog interactif et évolutif !
				<br>
				Je me présente <strong class="marker">Laura Sully-Alexandrine, développeuse junior PHP Symfony</strong> 
				<br>
				Le graphisme est entièrement réalisé sous l'outil d'édition et de retouche image
				<strong class="marker">GIMP</strong>.</p>
			<p>Ce petit projet est réalisé, avec le langage
				<strong class="marker">from scratch en PHP natif</strong>
				sous le
				<strong class="marker">Design Pattern MVC (Model Vues Controler)</strong>.
					                        La programmation est faite sous l'éditeur de code
				<strong class="marker">Visual Studio Code</strong>, j'ai utilisé les langages
				<strong class="marker">HTML5</strong>
				ainsi que
				<strong class="marker">CSS3 et bootstrap 5.3</strong>
				pour l'intégration de la partie statique du site, à l'aide du
				<strong class="marker">moteur de templates TWIG</strong>.
					                        Vous aurez la possibilité de <strong class="marker">créer un compte</strong>, pour vos futurs <strong class="marker">'Bubble Comment'</strong> !<br>

				Vous pourrez, également <strong class="marker">télécharger mon CV</strong> au format PDF et me contacter à l'aide du <strong class="marker">formulaire de contact</strong>. <br><br>
                Merci pour votre intérêt,<br><br>

				et bonne visite...</p>
		</section>
	</article>
{% endblock %}
