{% extends "/base.html.twig" %}

{% block menu_home %}
	active
{% endblock %}

{% block body %}
{% set user = user() %}
	<article class="row d-flex flex-wrap justify-content-between">
		<h1 class="col-lg-6 mt-lg-4">
			<img src="/image/php-dev-symfony.png" alt="image-developer-php-symfony" class="mw-100">
        </h1>

		<section class="home col text-start p-lg-4">
			<h2 class="my-3">
				Bonjour <span class="marker"> {{ user.pseudo }}</span>,
			</h2>
			<p>Bienvenue sur mon blog professionnel, interactif et évolutif !</p>
			<p>
				Je me présente, 
				<strong class="marker">Laura Sully-Alexandrine</strong>, <strong class="marker">développeuse junior PHP Symfony</strong>.
				<br>
				Je suis en contrat de professionnalisation avec la plate forme d'apprentissage en ligne 
				<strong><a class="marker" href="https://openclassrooms.com/fr/">OpenClassRooms</a></strong> et mon entreprise 
				<strong><a  class="marker" href="https://bv.elyote.com/home.php">Elyote</a></strong>, pour une durée de 24 mois. <br>
				Ma mission, lors de mes deux d'apprentissage est la refonte complète en <strong class="marker">from scratch</strong>, de l'application Elyote pour l'enseigne Retail <strong> <a  class="marker" href="https://www.bureau-vallee.fr/">Bureau-Vallée</a></strong>, sous le framework
				 <strong class="marker">Symfony</strong>, et j'espère bien d'autres projets.
			</p>
			<p>
				Ce petit projet, ici présent, sous le nom de <strong class="marker">2DBubbles</strong>, est réalisé, en from scratch avec le langage serveur
				<strong class="marker">PHP8</strong> et le <strong class="marker">Design Pattern MVC (Model Vues Controler)</strong>,
				les langages front <strong class="marker">HTML5</strong>
				ainsi que <strong class="marker">CSS3</strong> et parfois, surcharger les classes <strong class="marker">Bootstrap 5.3</strong>.
				L'intégration de la partie statique du site, à travers <strong class="marker">moteur de templates TWIG</strong>.
				Tout ça programmé, sous l'éditeur de code extensible <strong class="marker">Visual Studio Code</strong>.
				<br>
				Le graphisme lui, est entièrement réalisé sous l'outil d'édition et de retouche image <strong class="marker">GIMP</strong>.
				<br>
				Tu auras la possibilité de créer ton <strong class="marker">'Bubbles Space'</strong>, pour tes futurs <strong class="marker">'Bubbles Comment'</strong>!<br>
				Tu pourras, également <a class="marker" href="http://localhost:8080/image/CV_Laura_Sully-Alexandrine.pdf" download="CV_Laura_Sully-Alexandrine.pdf">Télécharger mon CV</a> au format PDF, me contacter à l'aide du <strong class="marker"> <a href="/"></a> formulaire de contact</strong> ou de mes coordonées que tu trouveras sur mon CV.<br><br>
                Merci pour ton intérêt,<br><br>

				et bonne visite...</p>
		</section>
	</article>
{% endblock %}
