{% extends "/base.html.twig" %}
{% block menu_role %}
	active
{% endblock %}

{% block body %}
	<article class="d-flex flex-column justify-content-center">
		<h1 class="text-center mb-4">Nouveau Bubbles Rôle</h1>
		<p class="text-danger fst-italic text-center">Les champs marqués d'un * sont obligatoires.</p>
		<a class="bluegrey my-4" href="/role/read">Retour</a>
		<section class="d-flex flex-wrap justify-content-center border border-dark-subtle border-2 rounded p-3">
			<form action="create" method="post" class="row g-3">
				<div>
					<label for="Role" class="form-label">Nom</label>
					<input type="text" class="form-control" value="{{ role.name }}" name="role" id="Role">
				</div>
				
					<button class="bluegrey" type="submit">Créer</button>
			
			</form>
		</section>
	</article>
{% endblock %}
