{% extends "/base.html.twig" %}
{% block menu_role %}
	active
{% endblock %}

{% block body %}
	<article class="row d-flex flex-wrap">
		<p><a class="card-link my-4" href="/role/read">Retour</a></p>
		<div class="col-lg-5 mt-lg-4">
			<img src="/image/admin-role.png" alt="image-role" class="mw-100">
		</div>
		
		<section class="col-lg-6 p-lg-5">
			<h1>Nouveau Bubbles Role</h1>
			<form action="create" method="post" class="row g-3">
				<p class="text-danger">Les champs marqués d'un * sont obligatoires.</p>
				<div class="mb-2">
					<input type="text" class="form-control border border-2" name="role" id="Role">
					<label for="Role" class="form-label h6">Nom*</label>
				</div>
				<button class="bluegrey my-4" type="submit">Créer</button>
			</form>
		</section>
	</article>
{% endblock %}
