{% extends "/base.html.twig" %}
{% block menu_role %} active {% endblock %}
{% block body %}
    <h1>Liste des rôles</h1>
   
   
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
         {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a href="#">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/role/add">Ajouter</a>
    

 
    
{% endblock %}