{% extends "/base.html.twig" %}
{% block menu_role %}
	active
{% endblock %}
{% block body %}

	<article class="d-flex flex-column justify-content-center">
		<h1 class="text-center mb-4">Bubbles Roles</h1>

		<a class="btn mb-4" href="/admin/dashboard">Retour</a>

		<section class="d-flex flex-wrap justify-content-center border border-dark-subtle border-2 rounded p-3">
			{% for role in roles %}
				<div class="card m-2" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Numéro
							{{ role.id }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ role.name }}</h6>
						{% if role.name == "Super_admin" %}
							<p class="card-text">Ce rôle a accès à toutes les fonctionnalités du site.</p>
						{% elseif role.name == "Administrateur" %}
							<p class="card-text">Ce rôle permet de gérer et valider tous les commentaires du site.</p>
						{% else %}
							<p class="card-text">Ce rôle est réservé aux utilisateurs lambda.</p>
						{% endif %}

						<div class="d-flex">
							<a class="btn me-3" href="/role/update/{{ role.id }}">Modifer</a>
							{{ include('admin/role/_delete.html.twig') }}
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
		<a class="btn my-4" href="/role/create">Nouveau Bubbles Role</a>
	</article>
{% endblock %}
