{% extends "/base.html.twig" %}

{% block body %}
     <article class="row text-dark">
        <section class="d-flex flex-column p-5 border border-2 rounded">
            <img src="" alt="icon-check">
            <h1 class="text-center">MAIL ENVOYÉ</h1>
            <p class="text-center fst-italic">Vérifies tes emails!</p>

        </section>
    </article>
{% endblock %}