{% extends "/base.html.twig" %}

{% block body %}
	{% set user = user() %}
	<article class="d-flex flex-wrap justify-content-center">
		<h1 class="col-lg-6 mt-lg-4">
			<img src="/image/password-forget.png" alt="image-forger-password" class="mw-100">
		</h1>
		<section class="col-lg-6 p-lg-5 my-3">
			<h2 class="text-start mb-4">DES DIFFICULTÉS <br> À TE CONNECTER ?</h2>
			<p class="text-start fst-italic">Réinitialiser ton mot de passe est facile!</p>
			<p class="text-start fst-italic">Saisies ton email pour recevoir dans ta boite mail, <br> <span class="marker">ton Bubbles message magique</span> ...</p>

			<form action="/security/forgetPassword" method="post" class="d-flex flex-column my-5">
				<div>
					<input type="email" name="email" id="email" class="form-control border-2" value="{{ user.email }}">
					<label class="form-label h6" for="email">Email</label>
				</div>
				<button class="bluegrey my-4" type="submit">Envoyer</button>
			</form>
		</section>
	</article>

{% endblock %}
