{% extends "/base.html.twig" %}

{% block body %}

	<article class="d-flex flex-wrap justify-content-center">
		<div class="col-lg-6 mt-lg-4">
			<img src="/image/password-forget.png" alt="image-forger-password" class="mw-100">
		</div>
		<section class="col-lg-6 p-lg-5 my-3">
            <h1>RÉINITILISATION DE TON MOT DE PASSE</h1>
            <h6 class="fs-5">Saisis et confirmes ton nouveau mot de passe.</h6>
            <p class="text-danger mt-4">Les champs marqués d'un * sont obligatoires.</p>
                <form action="/security/resetPassword/{{ user.token }}" method="post" class="d-flex flex-column mb-5">
                    <div class="mb-2">
                        <input type="password" name="password" id="Password" class="form-control border-2">
                        <label class="form-label h6" for="status">Nouveau mot de passe*</label>
                    </div>
                   <div class="mb-2">
                        <input type="password" name="password_2" id="Password_2" class="form-control border-2"/>
						<label class="form-label h6" for="Password_2">Confirmes mot de passe*</label>
                    </div>
                    <button class="bluegrey my-4" type="submit">Enregistrer</button>
                </form>
            </section>
    </article>
{% endblock %}