{% extends "/base.html.twig" %}

{% block body %}
    <article class="row text-dark">
        	<section class="d-flex flex-column p-5 border border-2 rounded">
            	<h1 class="text-center">Réinitialisation de mot de passe</h1>
                <h2 class="text-center mb-4">Des difficultés à te connecter?</h2>
                <p class="text-center fst-italic">Réinitialiser ton mot de passe est facile!</p>
                <p class="text-center fst-italic">Saisies ton email pour recevoir dans ta boite mail, le Bubbles message magique...</p>

                <form action="/security/resetPassword" method="post" class="d-flex flex-column my-5">
                    <div class="form-check mt-3">
                        <input type="password" name="password_new" id="Password_new" class="form-control border-2">
                        <label class="form-label h6" for="status">Nouveau mot de passe</label>
                    </div>
                    <div class="form-check mt-3">
                        <input type="password" name="password_2" id="Password_2" class="form-control border-2"/>
						<label class="form-label h6" for="Password_2">Confirmez mot de passe</label>
                    </div>
                    <button class="bluegrey my-4" type="submit">Envoyer</button>
                </form>
            </section>
    </article>
{% endblock %}