<form method="post" action="user/delete/{{user.id}}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    {# <input type="hidden" name="_token" value="{{ csrf_token('delete-person' ~ user.id) }}"> #}
    <button class="btn">Delete</button>
</form>