<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">2dbubbles</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link {% block menu_home %} {% endblock %}" href="main/home">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% block menu_post %} {% endblock %}" href="/post/list">Article</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% block menu_contact %} {% endblock %}" href="main/contact">Contact</a>
				</li>
				{# Si le user à un rôle admin ou super_admin #}
					<li class="nav-item">
						<a class="nav-link {% block menu_admin %} {% endblock %}" href="/admin/dashboard">Adminstration</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% block menu_user %} {% endblock %}" href="/user/list">Utilisateur</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% block menu_role %} {% endblock %}" href="/role/list">Rôle</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% block menu_tag %} {% endblock %}" href="/tag/list">Tag</a>
					</li>
				{# fin #}

				{# Si l'utilisateur n'est pas connecté #}
					<li class="nav-item">
						<a class="nav-link {% block menu_login %} {% endblock %}" href="/security/login">Connexion</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link {% block menu_register %} {% endblock %}" href="/security/register">Inscription</a>
					</li>
				{# fin #}

				{# Si l'utilisateur est connecté #}
					<li class="nav-item">
						<a class="nav-link {% block menu_logout %} {% endblock %}" href="/security/logout">Déconnexion</a>
					</li>
				{# fin #}
		</div>
	</div>
</nav>
