<nav class="navbar navbar-expand-lg" style="background-color:#000000 !important;">
	<div class="container">
		<div class="d-flex flex-wrap mt-3">
			<p class="col-ms-5 col-lg-5 col-xl-5 col-xxl-5 mt-lg-2 mt-xl-2 mt-xxl-2 mt-sm-5">
				<a class="navbar-brand text-center" href="/main/home">
					<img class="logo_picture" src="/image/logo-2dbubble.png" width="120" alt="logo-2DBubble">
				</a>
			</p>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="fas fa-solid fa-bars-staggered"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse col-6" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<div class="d-lg-flex flex-lg-row flex-xl-row lex-xxl-row flex-xs-column flex-sm-column">
					{% if user() != null %}
						<li class="nav-item">
							<a class="nav-link {% block menu_home %} {% endblock %}" href="/main/home">Accueil</a>
						</li>
					{% endif %}
				</div>

			
					{% if is_granted() == "Super_admin" or is_granted() == "Administrateur" %}
						<li class="nav-item">
							<a class="nav-link me-xs-3 me-sm-3 mb-xs-3 mb-sm-3 {% block menu_read %} {% endblock %}"href="/admin/read">Bubbles Comments</a>
						</li>
						<li class="nav-item">
							<a class="nav-link me-xs-3 me-sm-3 mb-xs-3 mb-sm-3 {% block menu_admin %} {% endblock %}" href="/admin/dashboard">Adminstration</a>
						</li>
	
					{% endif %}
	

				<div class="d-lg-flex flex-lg-row flex-xl-row lex-xxl-row flex-xs-column flex-sm-column">
					{% if user() == null %}
						<li class="nav-item">
							<a class="nav-link btn {% block menu_register %} {% endblock %}" href="/security/register">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn {% block menu_login %} {% endblock %}" href="/security/login">Connexion</a>
						</li>
					{% endif %}
				</div>
				{% if user() != null %}
					<li class="nav-item">
						<a class="nav-link btn {% block menu_logout %} {% endblock %}" href="/security/logout">Déconnexion</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<div class="d-flex w-100 justify-content-center col-ms-5 col-lg-5 col-xl-5 col-xxl-5" style="background-color:#000000 !important;">
			<a href="/main/home">
				<img src="/image/dev-php.png" alt="developpeur_web_fullstack">
			</a>
		</div>
